---
layout: pages
title: "Lab Meeting"
permalink: /lab_meeting/
prev: home
---

<section class="page__section projects">
    <div class="home__section-contents meeting">
    {% for meeting in site.lab_meeting reversed %}
        <div class="meeting__container" OnClick="location.href ='{{ meeting.url }}'">
            <div class="meeting__teaser">
                {% if meeting.teaser %}
                    <img src="{{ meeting.teaser }}" class="meeting__image"></img>
                {% else if %}
                    <img src="/_lab_meeting/teasers/default.jpg" class="meeting__image"></img>
                {% endif %}
            </div>
            <div class="meeting__info">
                <div class="meeting__title">
                    <a href="{{ meeting.url | relative_url }}" rel="permalink">{{ meeting.title }}</a>
                </div>
                <div class="meeting__meta">
                    <p>{{ meeting.date | date: "%B %d, %Y" }}</p>
                    <p>{{ meeting.name }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

