<!-- *** Slide ***-->
<!-- <div class="hero-slide">
  <div class="hero-image">
    <video src="/assets/videos/home/경희이공계열 대표성과동영상.mp4" type="video/mp4" autoplay muted loop class="loop-video"></video>
  </div>
  <div class="hero-title">
  </div>
</div> -->
<!-- *** Slide ***-->
{% for banner in site.data.banner.main %}
<div class="hero-slide">
  <div class="hero-image">
    {% if banner.link %}
    <a href="{{ banner.link }}">
    {% endif %}
    <img src="{{ banner.img }}"/>
    {% if banner.link %}
    </a>
    {% endif %}
  </div>
  <div class="hero-title">
    <p>{{ banner.title }}</p>
    {% for description in banner.description %}
    <p>{{ description }}</p>
    {% endfor %}
  </div>
</div>
{% endfor %}