<!-- *** Slide ***-->
<!-- <div class="hero-slide">
  <div class="hero-image">
    <video src="/assets/videos/home/경희이공계열 대표성과동영상.mp4" type="video/mp4" autoplay muted loop class="loop-video"></video>
  </div>
  <div class="hero-title">
  </div>
</div> -->
<!-- *** Slide ***-->
<div class="hero-slide">
  <div class="hero-image">
    <img src="/assets/banner/2.png"/>
  </div>
  <div class="hero-title">
  </div>
</div>
<!-- *** Slide ***-->
<div class="hero-slide">
  <div class="hero-image">
    <img src="/assets/banner/home.jpg"/>
  </div>
  <div class="hero-title">
    <p>Mobile Communications Lab</p>
    <p>KyungHee University</p>
  </div>
</div>
<!-- *** Slide ***-->
