<div class="home__section-contents">
    <div class="home__section-card" OnClick="location.href ='/research/projects/6h/'">
        <div class="home__section-cover-head">
            6H: Next-Generation Mobile Communication Technologies
        </div>
        <div class="home__section-cover">
            <!-- <img src="/assets/images/home/6h.jpeg"></img> -->
        </div>
    </div>
    <div class="home__section-card" OnClick="location.href ='/research/projects/small-cell/'">
        <div class="home__section-cover-head">
            5G Intelligent Open Small Cell Development
        </div>
        <div class="home__section-cover">
            <!-- <img src="/assets/images/home/small-cell.jpeg"></img> -->
        </div>
    </div>
    <div class="home__section-card" OnClick="location.href ='/research/projects/bk21/'">
        <div class="home__section-cover-head">
            BK21: Fostering Talent in Future Communications
        </div>
        <div class="home__section-cover">
            <!-- <img src="/assets/images/home/bk21.jpg"></img> -->
        </div>
    </div>
    <div class="home__section-card" OnClick="location.href ='/research/projects/lightweight-5g/'">
        <div class="home__section-cover-head">
            Lightweight 5G All-in-One System for Vertical Services
        </div>
        <div class="home__section-cover">
            <!-- <img src="/assets/images/home/lightweight-5g.jpeg"></img> -->
        </div>
    </div>
    <div class="home__section-card" OnClick="location.href ='/research/projects/network-slicing/'">
        <div class="home__section-cover-head">
            Network Slicing
        </div>
        <div class="home__section-cover">
            <!-- <img src="/assets/images/home/network-slicing.jpeg"></img> -->
        </div>
    </div>
</div>
