<div class="home__section-contents">
    <div class="home__section-card" OnClick="location.href ='/projects/6h/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                6H: Next-Generation Mobile Communication Technologies
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/6h.jpg"></img>
    </div>
    <div class="home__section-card" OnClick="location.href ='/projects/small-cell/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                5G Intelligent Open Small Cell Development 
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/small-cell.png"></img>
    </div>
    <div class="home__section-card" OnClick="location.href ='/projects/bk21/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                BK21: Fostering Talent in Future Communications
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/bk21.jpg"></img>
    </div>
    <div class="home__section-card" OnClick="location.href ='/projects/lightweight-5g/'">
        <div class="home__section-cover">
            <div class="home__section-cover-head">
                Lightweight 5G All-in-One System for Vertical Services
            </div>
        </div>
        <img class="home__section-image" src="/assets/images/home/lightweight-5g.png"></img>
    </div>
</div>
