.notice__table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  display: table;
  thead {
    background-color: transparent;
    border-top: 2px solid #c7c7c7;
    border-bottom: 1px solid #d6d6d6;
    th {
      text-align: center;
    }
  }
  .highlight {
    background-color: #fff1f2;
    td {
      border-bottom: 1px solid #d6d6d6;
      &:first-child, &:nth-child(3), &:nth-child(4) {
        text-align: center;
      }
      a {
        color: #000;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:hover {
      background-color: #ffe6e7;
    }
  }
  .normal{
    transition: all 0.3s;
    td {
      border-bottom: 1px solid #d6d6d6;
      &:first-child, &:nth-child(3), &:nth-child(4) {
        text-align: center;
      }
      a {
        color: #000;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    &:hover {
      background-color: #f2f2f2;
    }
  }
}

.title-column {
  width: 60%;
}
.author-column {
  width: 15%;
}
.date-column {
  width: 15%;
}