{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
        <div class="home-logo" onclick="location.href='/'">
          <div class="site-logo"><img src="/assets/images/khu_logo.png" alt="KHU" /></div>
          <div class="site-logo"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}" /></div>
          <a class="site-title" href="{{ '/' | relative_url }}">
            {{ site.masthead_title | default: site.title }}
          </a>
        </div>
        {% endunless %}
        <div class="hamburger-menu" onclick="toggleSidebar()">☰</div>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
          {% assign class = nil %}
          {% if page.url contains link.url %}
          {% assign class = 'active' %}
          {% endif %}
          {% if link.sublinks %}
          <li class="dropdown {{ class }}">
            <a class="dropdown-toggle {% for sublink in link.sublinks %}{% if page.url == link.url or page.url == sublink.url %} selected {% endif %}{% endfor %}" href="{{ link.url | relative_url }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title }} <i class="fa fa-caret-down fa-sm" aria-hidden="true"></i><span class="caret"></span></a>
            <ul class="dropdown-content">
              {% for sublink in link.sublinks %}
              <a class="dropdown-item" href="{{ sublink.url | relative_url }}">{{ sublink.title }}</a>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li class="masthead__menu-item">
            <a href="{{ link.url | relative_url }}" {% if link.url == page.url %} class="selected" {% endif %} {% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
          </li>
          {% endif %}
          {%- endfor -%}
        </ul>
        <div id="homeSidebar" class="home-sidebar">
          <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>
          <div class="sidebar-logo" onclick="location.href='/'"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}" /></div>
          {%- for link in site.data.navigation.main -%}
          {% assign class = nil %}
          {% if page.url contains link.url %}
          {% assign class = 'active' %}
          {% endif %}
          {% if link.sublinks %}
          <li class="dropdown {{ class }}">
            <a class="dropdown-toggle {% for sublink in link.sublinks %}{% if page.url == link.url or page.url == sublink.url %} selected {% endif %}{% endfor %}" href="{{ link.url | relative_url }}" role="button" onclick="toggleDropdown(event)">
              {{ link.title }} <i class="fa fa-caret-down fa-sm" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-content">
              {% for sublink in link.sublinks %}
              <li><a class="dropdown-item" href="{{ sublink.url | relative_url }}">{{ sublink.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <a class="item" href="{{ link.url | relative_url }}" {% if link.url == page.url %} class="selected" {% endif %} {% if link.description %} title="{{ link.description }}"{% endif %}>
            {{ link.title }}
          </a>
          {% endif %}
          {%- endfor -%}
          <!-- <div class="sidebar-footer">
            <button class="contact-button" onclick="location.href='/#contact'; toggleSidebar();">
              <i class="fas fa-phone"></i>
            </button>
          </div> -->
        </div>
        <div id="overlay" class="overlay" onclick="toggleSidebar()"></div>
        {% if site.search == true %}
        {% if layout.search != false %}
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <i class="fas fa-search"></i>
        </button>
        {% endif %}
        {% endif %}
      </nav>
    </div>
  </div>
</div>



<script>
function toggleDropdown(event) {
  event.preventDefault(); // Prevent the default link behavior
  var dropdownToggle = event.target;
  if (!dropdownToggle.classList.contains('dropdown-toggle')) {
    // If the clicked element is not the <a> element, find the closest ancestor <a> element
      dropdownToggle = dropdownToggle.closest('.dropdown-toggle');
  }
  var dropdown = dropdownToggle.parentElement;
  var dropdownContent = dropdownToggle.nextElementSibling;
  if (dropdown.classList.contains("show")) {
    dropdown.classList.remove("show");
    dropdownContent.style.maxHeight = null;
  } else {
    var allDropdownConetents = document.querySelectorAll(".dropdown-content");
    allDropdownConetents.forEach(function(content) {
      content.style.maxHeight = null;
    });
    var allDropdowns = document.querySelectorAll(".dropdown");
    allDropdowns.forEach(function(content) {
      content.classList.remove("show");
    });
    dropdown.classList.add("show");
    dropdownContent.style.maxHeight = dropdownContent.scrollHeight + "px";
  }
}

function toggleSidebar() {
  var sidebar = document.getElementById("homeSidebar");
  var overlay = document.getElementById("overlay");
  if (sidebar.classList.toggle("show")) {
    overlay.classList.add("show");
  } else {
    overlay.classList.remove("show");
  }
}
</script>