{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <div style="margin-right:-0.5em;display: flex;flex-direction: column;align-items: center;justify-content: center;">
              <div class="home-logo-top" style="width:80%;display:flex;align-items: center;justify-content: center;">
                <a class="site-logo" style="display: flex;align-items: center;justify-content: center;" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"/></a>
              </div>
              <div class="home-logo-bottom" style="display: flex;flex-direction: column;-webkit-box-align: center;-ms-flex-align: center;align-items: center;justify-content: center;font-size: 0.6em;font-family: KIMM_Bold;font-weight: 700;">
                <a href="{{ '/' | relative_url }}" style="margin-top:0;text-align: center;">{{ site.masthead_title | default: site.title }}</a>
              </div>
          </div>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}">
          <!-- {{ site.masthead_title | default: site.title }} -->
          <!-- {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %} -->
          <span class="site-subtitle">Kyunghee<br>University</span>
        </a>
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}" {% if link.url == page.url %} class="selected" {% endif %} {% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        {% if site.search == true %}
          {% if layout.search != false %}
          <button class="search__toggle" type="button">
            <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
            <i class="fas fa-search"></i>
          </button>
          {% endif %}
        {% endif %}
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

