---
layout: pages
title: "Paper Review"
permalink: /study/paper_review/
prev: study
---

<!-- {% assign posts = site.categories.review %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div> -->

<hr>
<div class="review__content" OnClick="location.href ='/study/paper_review/magma_001/'">
    <div class="review__teaser">
        <img src="/_pages/study/paper_review/teasers/magma_001.png" class="review__image"></img>
    </div>
    <div class="review__info">
        <div class="review__category">magma</div>
        <div class="review__title">Building Flexible, Low-Cost Wireless Access Networks With Magma</div>
        <div class="review__description">How to configure low-cost cellular network using Magma.</div>
    </div>
</div>
<hr>