<!-- <a id="backBtn" onClick="history.go(-1)">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
</a> -->
<a id="topBtn" href="#">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>

{% if page.url == '/' or page.url == '/members/' or page.url == '/research/' or page.url == '/about/' or page.url == '/publications/' or page.url == '/board/' %}
{% else %}
<a id="prevBtn" href="#">
    <i class="fas fa-align-justify" aria-hidden="true"></i>
</a>
{% endif %}

<script>
    $(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 300) {
                $('#topBtn').css('transform','translate(0, -90px)');
            } else {
                $('#topBtn').css('transform','translate(0, 0)');
            }
        });
        $("#topBtn").click(function() {
            $('html, body').animate({ scrollTop : 0 }, 50);
            return false;
        });
    });
</script>
<script>
    $(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 300) {
                $('#prevBtn').css('transform','translate(0, -50px)');
            } else {
                $('#prevBtn').css('transform','translate(0, 0)');
            }
        });
        $("#prevBtn").click(function() {
            var currentPath = window.location.pathname;
            if (currentPath.endsWith('/')) {
                currentPath = currentPath.slice(0, -1);
            }
            var newPath = currentPath.substring(0, currentPath.lastIndexOf('/')) + '/';
            location.replace(newPath);
        });
    });
</script>