/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;
    align-items: center;

    @include breakpoint($small) {
      max-width: $small;
    }
    @include breakpoint($medium) {
      max-width: $medium;
    }
    @include breakpoint($medium-wide) {
      max-width: $medium-wide;
    }
    @include breakpoint($large) {
      max-width: $large;
    }
    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.home-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-logo-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-logo-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-size: 1em;
  font-family: KIMM_Bold;
  font-weight: 700;
  a {
    margin-top: 0;
    text-align: center;
  }
}
.site-logo {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include breakpoint($small) {
    width: 42px;
  }
  @include breakpoint($medium) {
    width: 44px;
  }
  @include breakpoint($medium-wide) {
    width: 46px;
  }
  @include breakpoint($large) {
    width: 48px;
  }
  @include breakpoint($x-large) {
    width: 50px;
  }
}
.site-logo img {
  width: 100%;
}
.site-logo:first-child {
  margin-right: 10px;
}
.site-logo:nth-child(2) {
  width: 50px;
  border-left: 2px solid #c4c4c4;
  padding-left: 10px;
  margin-right: 10px;
  @include breakpoint($small) {
    width: 52px;
  }
  @include breakpoint($medium) {
    width: 54px;
  }
  @include breakpoint($medium-wide) {
    width: 56px;
  }
  @include breakpoint($large) {
    width: 58px;
  }
  @include breakpoint($x-large) {
    width: 60px;
  }
}
.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 900;
  font-family: $title-font, sans-serif;
  // z-index: 20;
  vertical-align: center;
  font-size: 20px;
  @include breakpoint($small) {
    font-size: 22px;
  }
  @include breakpoint($medium) {
    font-size: 24px;
  }
  @include breakpoint($medium-wide) {
    font-size: 26px;
  }
  @include breakpoint($large) {
    font-size: 28px;
  }
  @include breakpoint($x-large) {
    font-size: 30px;
  }
}

.site-subtitle {
  display: block;
  font-size: 13px;
  margin: 0;
  height: 14px;
  line-height: 10px;
  @include breakpoint($small) {
    max-width: $small;
  }
  @include breakpoint($medium) {
    font-size: 22px;
    height: 24px;
    line-height: 20px;
  }
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;

  .selected {
    border-top: 3px solid rgb(75, 100, 185);
    margin-top: -3px;
  }

  &--lg {
    padding-left: 2em;
    font-weight: 700;
  }
}

/*
   Dropdown
   ========================================================================== */
  // to be shared by both hidden link and visible link


@media (min-width: 900px) {
  .dropdown:hover .dropdown-content {
    display: flex;
    // font-size: 17px;
  }
  .dropdown {
    // float: left;
    text-align: center;
    position: relative;
    width: auto;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .selected {
      border-top: 3px solid rgb(75, 100, 185);
      margin-top: -3px;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(#f2f2f2, 0.9);
    // border: 1px solid $info-color;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s;
  }
  .dropdown-item {
    padding: 10px 10px;
    font-size: 15px;
    color: #000;
    width: 100%;
    text-align: center;
    transition: all 0.2s;
  }
}


.greedy-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visible-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;

  li {
    flex: none;
    display: list-item;
    text-align: -webkit-match-parent;
  }

  a {
    position: relative;
    &:hover:before {
      transform: scaleX(1); // reveal
    }
  }
}
.hamburger-menu {
  display: none;
}

/* 작은 화면에서 메뉴 숨기기 */
@media (max-width: 900px) {
  .visible-links {
    display: none !important;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    font-size: 1.5em;
    transition: color 0.3s;
  }
  .hamburger-menu:hover {
    color: #919191;
  }

  .dropdown {
    // float: left;
    text-align: left;
    position: relative;
    cursor: pointer;
    display: flex;
    font-weight: normal;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
    color: #ecf0f1 !important; /* Lighter text color */
    transition: color 0.3s, background-color 0.3s !important; /* Smooth color transition */
    border-radius: 10px; /* Rounded corners on the left side */
    margin-top: 10px;
  }
  .dropdown.show {
    background-color: #34495e !important; /* Darker background on hover */
  }
  .dropdown:hover {
    background-color: #34495e !important; /* Darker background on hover */
    color: #ffffff !important; /* White text on hover */
  }
  .dropdown-toggle {
    width: 214px;
    padding: 10px 0;
    border-radius: 10px; /* Rounded corners on the left side */
    text-decoration: none;
    color: #ecf0f1 !important; /* Lighter text color */
    display: block;
    transition: color 0.3s, background-color 0.3s !important; /* Smooth color transition */
    border-radius: 10px; /* Rounded corners on the left side */
  }
  /* Dropdown content initial state */
  .dropdown-content {
    display: block;
    overflow: hidden;
    max-height: 0;
    width: 100% !important;
    transition: max-height 0.3s ease-out;
  }

  .dropdown-item {
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-radius: 0px !important;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 0;
    color: #ecf0f1 !important; /* Lighter text color */
    transition: color 0.3s, background-color 0.3s !important; /* Smooth color transition */
    border-radius: 10px; /* Rounded corners on the left side */
  }
}

/* Sidebar styling */
.home-sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Initially hide the sidebar to the right */
  width: 250px;
  height: 100%;
  background-color: #2c3e50; /* Darker background */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  overflow-x: hidden;
  transition: right 0.5s; /* Transition effect for sliding */
  padding-top: 100px;
  z-index: 999; /* Ensure it appears above other content but below the hamburger menu */
}

.home-sidebar .item {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #ecf0f1 !important; /* Lighter text color */
  display: block;
  transition: color 0.3s, background-color 0.3s !important; /* Smooth color transition */
  border-radius: 10px; /* Rounded corners on the left side */
  margin-top: 10px;
}

.home-sidebar .item:hover {
  background-color: #34495e; /* Darker background on hover */
  color: #ffffff !important; /* White text on hover */
}

.home-sidebar .closebtn {
  position: absolute;
  top: 40px;
  right: 10px; /* Close button positioned on the left */
  font-size: 1.5em;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
}

.home-sidebar .closebtn:hover {
  background-color: transparent; /* Transparent background on hover */
  color: #a8a8a8 !important; /* White text on hover */
}

/* Class to show the sidebar */
.home-sidebar.show {
  right: 0; /* Slide the sidebar in from the right */
}

/* Overlay for sidebar */
.overlay {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 998; /* Below the sidebar but above other content */
}

.overlay.show {
  display: block; /* Show the overlay when active */
}

//  -------------- 아래 기존 부분 --------------

.hidden-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $background-color;
  box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

  &.hidden {
    display: none;
  }

  a {
    margin: 0;
    padding: 10px 20px;
    font-size: $type-size-5;

    &:hover {
      color: $masthead-link-color-hover;
      background: $navicon-link-color-hover;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -11px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $border-color transparent;
    display: block;
    z-index: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $background-color transparent;
    display: block;
    z-index: 1;
  }

  li {
    display: block;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}//hidden link