/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;
    align-items: center;

    @include breakpoint($small) {
      max-width: $small;
    }
    @include breakpoint($medium) {
      max-width: $medium;
    }
    @include breakpoint($medium-wide) {
      max-width: $medium-wide;
    }
    @include breakpoint($large) {
      max-width: $large;
    }
    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.home-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-logo-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-logo-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-size: 1em;
  font-family: KIMM_Bold;
  font-weight: 700;
  a {
    margin-top: 0;
    text-align: center;
  }
}
.site-logo {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include breakpoint($small) {
    width: 42px;
  }
  @include breakpoint($medium) {
    width: 44px;
  }
  @include breakpoint($medium-wide) {
    width: 46px;
  }
  @include breakpoint($large) {
    width: 48px;
  }
  @include breakpoint($x-large) {
    width: 50px;
  }
}
.site-logo img {
  width: 100%;
}
.site-logo:first-child {
  margin-right: 10px;
}
.site-logo:nth-child(2) {
  width: 50px;
  border-left: 3px solid #6d6d6d;
  padding-left: 10px;
  margin-right: 10px;
  @include breakpoint($small) {
    width: 52px;
  }
  @include breakpoint($medium) {
    width: 54px;
  }
  @include breakpoint($medium-wide) {
    width: 56px;
  }
  @include breakpoint($large) {
    width: 58px;
  }
  @include breakpoint($x-large) {
    width: 60px;
  }
}
.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 900;
  font-family: $title-font, sans-serif;
  // z-index: 20;
  vertical-align: center;
  font-size: 20px;
  @include breakpoint($small) {
    font-size: 22px;
  }
  @include breakpoint($medium) {
    font-size: 24px;
  }
  @include breakpoint($medium-wide) {
    font-size: 26px;
  }
  @include breakpoint($large) {
    font-size: 28px;
  }
  @include breakpoint($x-large) {
    font-size: 30px;
  }
}

.site-subtitle {
  display: block;
  font-size: 13px;
  margin: 0;
  height: 14px;
  line-height: 10px;
  @include breakpoint($small) {
    max-width: $small;
  }
  @include breakpoint($medium) {
    font-size: 22px;
    height: 24px;
    line-height: 20px;
  }
}

.masthead__menu {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;

  .selected {
    border-top: 3px solid rgb(75, 100, 185);
    margin-top: -3px;
  }

  &--lg {
    padding-left: 2em;
    font-weight: 700;
  }
}

/*
   Dropdown
   ========================================================================== */
  // to be shared by both hidden link and visible link
.dropdown {
  // float: left;
  text-align: center;
  position: relative;
  width: auto;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .selected {
    border-top: 3px solid rgb(75, 100, 185);
    margin-top: -3px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(#f2f2f2, 0.9);
  // border: 1px solid $info-color;
  min-width: 160px;
  border-radius: 5px;
  z-index: 1;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.2s;
}

.dropdown:hover .dropdown-content {
  display: flex;
  // font-size: 17px;
}

.dropdown-item {
  padding: 10px 10px;
  font-size: 15px;
  color: #000;
  width: 100%;
  text-align: center;
  transition: all 0.2s;
}


.visible-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;

  li {
    flex: none;
    display: list-item;
    text-align: -webkit-match-parent;
  }

  a {
    position: relative;
    &:hover:before {
      transform: scaleX(1); // reveal
    }
  }
}


.hidden-links {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 15px;
  padding: 5px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: $background-color;
  box-shadow: 0 2px 4px 0 rgba(#000, 0.16), 0 2px 10px 0 rgba(#000, 0.12);

  &.hidden {
    display: none;
  }

  a {
    margin: 0;
    padding: 10px 20px;
    font-size: $type-size-5;

    &:hover {
      color: $masthead-link-color-hover;
      background: $navicon-link-color-hover;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -11px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $border-color transparent;
    display: block;
    z-index: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: $background-color transparent;
    display: block;
    z-index: 1;
  }

  li {
    display: block;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}//hidden link